@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

body {
    background: #E6EAE9;
}

hr{ clear: both; display: block; margin: 10px 0;}

a, img{border: none;}

h1, h2, h3, h4, h5, h6, p, a, address{
    text-decoration: none;
}

menu, ul, li, ol, dt, dl {
    list-style-type: none;
}

header{
    margin: 0 auto;
    width: 960px;
    height: 160px;
}

#logo{
    position: absolute;
    top: 0;
    z-index: 1001;
    width: 360px;
    height: 160px;
    background-color: #F5F5F5;
    filter:alpha(opacity = 70);
    opacity: 0.7;
    -moz-opacity:0.7;
    text-align: center;
}

#logo a{
    display: block;
    margin-top: 10px;
}

#logo p{
    font-size: 11px;
}

nav{
    clear: both;
    width: 100%;
    height: 40px;
    background-color: #CAE8EA;
    border-bottom: 1px solid #FFFFFF;
}

nav ul{
    margin: 0 auto;
    width: 960px;
}

nav li{
    float: left;
}

nav a{
    display: block;
    color: #4f6b72;
    padding: 8px 15px 10px 15px;
    font-size: 18px;
}

nav a:hover{
    -moz-border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #FFFFFF;
    color: #000000;
}

#content{
    clear: both;
    margin: 0 auto;
    padding: 15px;
    width: 930px;
    background-color: #FFFFFF;
}

footer{
    clear: both;
    margin: 0 auto;
    border-top: 1px solid #FFFFFF;
    background-color: #CAE8EA;
    color: #4f6b72;
    text-align: center;
}