@charset "utf-8";

table {
    width: 98%;
    margin: 0 auto;
}

caption{
    background-color: #CAE8EA;
    font: italic 22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #797268;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(../imagens/bg_header.jpg) no-repeat;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
}

tfoot{
    text-align: center;
    background-color: #CAE8EA;
    font-size: 14px;
}